

<% @messages.each do |msg| %>
	<div class="col-md-4">
		<div class="message">
			<h2 class="message-title"><%= msg.title %></h2>
			<%= link_to "View Message", msg, class: "btn-custom" %>
		</div>
	</div>
<% end %>